POSTGRES_DB=refundhold
POSTGRES_USER=refundhold
POSTGRES_PASSWORD=replace-with-long-random-postgres-password

AUTHRAIL_DEMO_AGENT_API_KEY=ar_demo_replace_with_random_prefix_replace_with_random_secret
AUTHRAIL_DEMO_REVIEWER_EMAIL=demo.reviewer@refundhold.com
AUTHRAIL_ACTION_REQUEST_BASE_URL=https://refundhold.com
AUTHRAIL_DEMO_ACCESS_ENABLED=true
AUTHRAIL_DEMO_ACCESS_PASSWORD=replace-with-long-random-demo-access-password
AUTHRAIL_STRIPE_TEST_MODE_ENABLED=false
AUTHRAIL_STRIPE_TEST_REFUNDS_ENABLED=false
AUTHRAIL_STRIPE_WEBHOOKS_ENABLED=false
AUTHRAIL_STRIPE_TEST_SECRET_KEY=
AUTHRAIL_STRIPE_WEBHOOK_TEST_SECRET=
AUTHRAIL_STRIPE_LIVE_REFUNDS_ENABLED=false
